<div class="modal-header">
	<h4 class="modal-title" i18n="@@loadLayout">Load Layout</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="form-group">
		<label for="importXML">XML from <code>constructionplans.xml</code></label>
		<textarea class="form-control" id="importXML" #importXML (change)="analyzeXML(importXML)" rows="15"></textarea>
	</div>
</div>
<div class="modal-footer">
  <div class="form-group">
    <select class="form-control" #planId>
      <ng-container *ngFor="let plan of plans">
        <option value="{{ plan.id }}">{{ plan.name }}</option>
      </ng-container>
    </select>
  </div>
	<button type="button" class="btn btn-primary" (click)="importLayout(importXML, planId)" i18n="@@import">Import</button>
	<button type="button" class="btn btn-secondary" (click)="activeModal.close()" i18n="@@cancel">Cancel</button>
</div>
